{% extends 'base_placeholder.html' %}

{% block title %}
    Placeholder
{% endblock title %}
{% block center %}

<div id="users">
    {% for user in userinfo %}
        <a href="#" id="user-link">
            <ul>
                {% comment %} <li>{{ user.id }}</li> {% endcomment %}
                <li>Name: <strong>{{ user.user }}</strong></li>
                <li>Email: <strong>{{ user.email }}</strong></li>
                <li>Address: <strong>{{ user.address }}</strong></li>
            </ul>
        </a>
    {% endfor %}
</div>
{% endblock center %}
